/ {
    aliases {
        lockout-led = &led0;
        lockout-button = &button0;
        host-sel = &host_sel;
    };

    host_sel: host_sel {
        gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };
};
